---
- name: Manage apt packages (update, upgrade, autoremove)
  hosts: all
  become: true  # ใช้ sudo สำหรับทุก task

  tasks:
    - name: Update package cache
      ansible.builtin.apt:
        update_cache: true
      when: ansible_pkg_mgr == "apt"
      
    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist
      when: ansible_pkg_mgr == "apt"

    - name: Remove unnecessary packages
      ansible.builtin.apt:
        autoremove: true
      when: ansible_pkg_mgr == "apt"

    - name: Send Discord message when reboot is required
      ansible.builtin.uri:
        url: "https://discord.com/api/webhooks/1340527540636356708/kJihK7URkhY6CqReT06wZwq_7o515sS9KPZ3DleRIGMMyZCKdN2KC-3VQUGgwwzdzZBy"
        method: POST
        body_format: json
        body: '{"content": "Reboot required on {{ inventory_hostname }}"}'
        headers:
          Content-Type: "application/json"
        status_code: 204
      when: reboot_required.stat.exists is defined and reboot_required.stat.exists == true